<!DOCTYPE html>
<html>
  <head>
    <title>Price Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/navstyles.css">


</head>
<body>

  <div class="navbar">
    
    <ul>
        
        <li><a href="main.html">Home</a></li>
        <li><a >Clustering</a></li>
        <li><a >Classification</a></li>
        <li><a >Regression</a></li>
    </ul>
    <li class="header">Dubai Property Prices Prediction<li></li>
</div>
<div class="login-box">
 
  <br><br>
  <form method="POST" action="{{url_for('predict')}}">
    <div class="testbox">
 <div class="columns">
        <div class="user-box">
        <label for="price">Price:</label>
        <input type="number" name="Price" id="Price"  ><br><br>
        </div>
          
	    <div class="user-box">
		<label for="size_in_sqft">Size in sqft.:</label>
        <input type="number" name="Size in Sqft" id="size_in_sqft"><br><br>
		</div>

		<div class="user-box">
        <label for="no_of_bedrooms">No of Bedrooms:</label>
        <input type="number" name="No of Bedrooms" id="no_of_bedrooms"><br><br>
	    </div>

		<div class="user-box">
        <label for="no_of_bathrooms">No of Bathrooms:</label>
        <input type="number" name="No of Bathrooms"  id="no_of_bathrooms"><br><br>
	    </div>

		<div class="user-box">
        <label for="maid_room">Maid Room:</label>
        <input type="number" name="Maid Room" id="maid_room"><br><br>
	    </div>

		<div class="user-box">
        <label for="unfurnished">Unfurnished:</label>
        <input type="number" name="Unfurnished" id="unfurnished"><br><br>

	    </div>


		<div class="user-box">
        <label for="balcony">Balcony:</label>
        <input type="number" name="Balcony" id="balcony"><br><br>
	    </div>

		<div class="user-box">
        <label for="barbecue_area">Barbecue Area:</label>
        <input type="number" name="Barbecue Area" id="barbecue_area"><br><br>
	    </div>

		<div class="user-box">
        <label for="built_in_wardrobes">Built in Wardrobes:</label>
        <input type="number" name="Built in Wardrobes" id="built_in_wardrobes"><br><br>
	    </div>

		<div class="user-box">
        <label for="central_ac">Central A/C:</label>
        <input type="number" name="Central A/C" id="central_ac"><br><br>
	    </div>

		<div class="user-box">
        <label for="childrens_play_area">Childrens Play Area:</label>
        <input type="number" name="Childrens Play Area" id="childrens_play_area"><br><br>
	    </div>

		<div class="user-box">
        <label for="childrens_pool">Childrens Pool:</label>
        <input type="number" name="Childrens Pool" id="childrens_pool"><br><br>
	    </div>

		<div class="user-box">
        <label for="concierge">Concierge:</label>
        <input type="number" name="Concierge" id="concierge"><br><br>
	    </div>

		<div class="user-box">
        <label for="covered_parking">Covered Parking:</label>
        <input type="number" name="Covered Parking" id="covered_parking"><br><br>
	    </div>

		<div class="user-box">
        <label for="kitchen_appliances">Kitchen Appliances:</label>
        <input type="number" name="Kitchen Appliances" id="kitchen_appliances"><br><br>
	    </div>

		<div class="user-box">
        <label for="lobby_in_building">Lobby in Building:</label>
        <input type="number" name="Lobby in Building" id="lobby_in_building"><br><br>
	    </div>

		<div class="user-box">
        <label for="maid_service">Maid Service:</label>
        <input type="number" name="Maid Service" id="maid_service"><br><br>
	    </div>

		<div class="user-box">
        <label for="networked">Networked:</label>
        <input type="number" name="Networked" id="networked"><br><br>
	    </div>

		<div class="user-box">
        <label for="pets_allowed">Pets Allowed:</label>
        <input type="number" name="Pets Allowed" id="pets_allowed"><br><br>
	    </div>

		<div class="user-box">
        <label for="private_garden">Private Garden:</label>
        <input type="number" name="Private Garden" id="private_garden"><br><br>
	    </div>

		<div class="user-box">
        <label for="private_gym">Private Gym:</label>
        <input type="number" name="Private Gym" id="Private Gym"><br><br>
	    </div>

		<div class="user-box">
        <label for="private_jacuzzi">Private Jacuzzi:</label>
        <input type="number" name="Private Jacuzzi" id="private_jacuzzi"><br><br>
	    </div>

		<div class="user-box">
        <label for="private_pool">Private Pool:</label>
        <input type="number" name="Private Pool" id="private_pool"><br><br>
	    </div>

		<div class="user-box">
        <label for="security">Security:</label>
        <input type="number" name="Security" id="security"><br><br>
	    </div>

		<div class="user-box">
        <label for="shared_gym">Shared Gym:</label>
        <input type="number" name="Shared Gym" id="shared_gym"><br><br>
	    </div>

		<div class="user-box">
        <label for="shared_pool">Shared Pool:</label>
        <input type="number" name="Shared Pool" id="shared_pool"><br><br>
	    </div>

		<div class="user-box">
        <label for="shared_spa">Shared Spa:</label>
        <input type="number" name="Shared Spa" id="shared_spa"><br><br>
	    </div>

		<div class="user-box">
        <label for="study">Study:</label>
        <input type="number" name="Study" id="study"><br><br>
	    </div>

		<div class="user-box">
        <label for="private_jacuzzi">Private Jacuzzi:</label>
        <input type="number" name="Private Jacuzzi" id="private_jacuzzi"><br><br>
	    </div>

		<div class="user-box">
        <label for="vastu_compliant">Vastu Compliant:</label>
        <input type="number" name="Vastu Compliant" id="vastu_compliant"><br><br>
	    </div>

		<div class="user-box">
        <label for="view_of_landmark">View of Landmark:</label>
        <input type="number" name="View of Landmark" id="view_of_landmark"><br><br>
	    </div>

		<div class="user-box">
        <label for="view_of_water">View of Water:</label>
        <input type="number" name="View of Water" id="view_of_water"><br><br>
	    </div>

		<div class="user-box">
        <label for="walk_in_closet">Walk in Closet:</label>
        <input type="number" name="Walk in Closet" id="walk_in_closet"><br><br>
	    </div>

      
    <button type="submit" value="Predict" id="submitBtn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Predict
    </button>

    <div class="user-box">
      <p style="color: #fff;">{{prediction_text}}</p>
    </div>

  

    
    </div></div>
  </form>
</div>



</body>