<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Seasonal Realtors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Avilon
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <h1><a href="index.html">Seasonal Realtors</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="">Clustering</a></li>
          
          <li><a href="/regression"><span>Regression</span></a></li>
          <li><a class="nav-link scrollto" href="/classification">Classification</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-text" data-aos="zoom-out">
      <h2>Welcome to Seasonal Realtors</h2>
      <p>Your Ultimate Forecast to Unlock Dubai's Real Estate Potential</p>
      <a href="#call-to-action" class="btn-get-started scrollto">Get Started</a>
    </div>



  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            "Welcome to our platform, where we bring you the future of real estate in Dubai."
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="../static/img/property1.jpg" alt="">
          </div>

          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            
            <p>
              Our mission is to empower property seekers and investors with the latest insights, data, and technology
              to make informed decisions about housing prices and property quality in this vibrant city. We combine
              cutting-edge data analytics and a user-friendly interface to provide you with accurate predictions, 
              helping you navigate the Dubai property market with confidence. Whether you're looking for your dream 
              home or seeking investment opportunities, we're here to simplify your journey and bring transparency to 
              the world of real estate in Dubai.
            </p>

            <ul>
              <li><i class="bi bi-check-circle"></i> Predictions based on robust datasets and advanced algorithms.</li>
              <li><i class="bi bi-check-circle"></i> Rigorous testing to ensure the reliability of our forecasts.</li>
              <li><i class="bi bi-check-circle"></i> Tailor predictions to your specific property criteria.</li>
              <li><i class="bi bi-check-circle"></i> Provision of insights into the factors influencing predictions.</li>
              
             
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Featuress Section ======= -->
    <section id="features">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="">
            <div class="section-header">
              <br>
              <h3 class="section-title">Prediction Techniques</h3>
              <span class="section-divider"></span>
            </div>
          </div>
        </div>

      </div>
      <section id="advanced-features">

        <div class="features-row section-bg" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-right wow fadeInRight" src="../static/img/clustering.jpg" alt="">
                <div>
                  <h2>Clustering</h2>
                  <h3>Clustering is a powerful technique we leverage to compare property prices and sizes in Dubai. </h3>
                  <p>By grouping properties into distinct clusters based on their features, such as location, size,
                     and amenities, we uncover meaningful patterns and trends. This approach allows us to provide a
                    comprehensive overview of the market, helping buyers and sellers make more informed decisions.</p> 
                   <p>Clustering enables us to identify similarities and differences among properties, making it easier
                    to assess fair market value and understand how different factors impact pricing. With this valuable
                    insight, you can confidently navigate the diverse Dubai real estate landscape.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="features-row" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-left" src="../static/img/regression.jpg" alt="">
                <div>
                  <h2>Regression</h2>
                 
                  <p>Regression analysis is a powerful technique we employ to predict the prices of properties in Dubai. 
                    By examining historical property data and considering various factors such as location, size, number 
                    of bedrooms, amenities, and market trends, we create predictive models that estimate property prices 
                    accurately. </p>
                  <p>These models help both buyers and sellers make informed decisions by providing realistic and data-driven price expectations. </p>
                  
                  <p>Whether you're looking to invest, sell, or buy property in Dubai, our regression-based price 
                    predictions ensure that you receive a fair, market-aligned assessment for your real estate 
                    transactions.
                 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="features-row section-bg" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-right wow fadeInRight" src="../static/img/classification.jpg" alt="">
                <div>
                  <h2>Classification</h2>
                  <h3>Classification plays a crucial role in predicting the quality of properties in Dubai.</h3>
                  <p>We employ advanced algorithms that analyze various property attributes, including architectural style,
                     construction materials, location, and amenities, to classify properties into different quality categories. 
                     By assigning labels such as "ultra-high", "high", "medium" or "low," we help buyers and investors quickly 
                     identify the type of property that aligns with their preferences and requirements. </p>
                  <p>This predictive classification not only simplifies the decision-making process but also enhances
                     the overall property search experience, ensuring that you find the perfect Dubai property that
                      suits your lifestyle and expectations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Advanced Featuress Section -->
  
    </section><!-- End Featuress Section -->

   <!-- ======= Call To Action Section ======= -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3 class="cta-title">Predict the Housing Prices of Your Property </h3>
        <p class="cta-text"> "Utilize our advanced prediction models to estimate the value of your property in Dubai with precision and confidence."</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="/regression">Predict Price</a>
      </div>
    </div>

  </div>
</section><!-- End Call To Action Section -->

<br>

       <!-- ======= Call To Action Section ======= -->
       <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3 class="cta-title">Predict the Quality of your Property</h3>
              <p class="cta-text"> "Assess the quality of Dubai properties with our advanced classification models, offering insights into their condition, features, and overall desirability."</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="/classification">Predict Quality</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Call To Action Section --> 

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-start text-center">
          <div class="copyright">
            &copy; Copyright <strong>Seasonal Realtors</strong>. All Rights Reserved
          </div>
    
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>