<!DOCTYPE html>
<html>
  <head>
    <title>Price Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/resultstyles.css">
    <link rel="stylesheet" href="../static/css/navstyles.css">


</head>
<body>

    <div class="navbar">
    
        <ul>
            
            <li><a href="/">HOME</a></li>
            <li><a >CLUSTERING</a></li>
            <li ><a href = "/classification">CLASSIFICATION</a></li>
            <li class="active"><a href = "/regression">REGRESSION</a></li>
        </ul>
        <li class="header">D<b class="d">UBAI</b> P<b class="d">ROPERTY</b> E<b class="d">VALUATION</b></li>
        
    </div>
<div class="container">
<div class="login-box">
 
  <br><br>
  <form method="POST" action="{{url_for('regpredict')}}">
   
    
 
    <h2>Property Details</h2>
    <div class="columns">
    
        {% for name, value in input_values_reg.items() %}
          
            <p class="tab-button">{{ name }}: {{ value }}</p>
          
        {% endfor %}
      
</div>
    
    <br>

    <button value="Previous" id="submitBtn" disabled>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{prediction_text_reg}}
      </button>
  

    
    </div></div>
  </form>
</div>



</body>