<!DOCTYPE html>
<html>
  <head>
    <title>Price Prediction</title>

    <link rel="stylesheet" href="../static/css/styles.css">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/css/formstyles.css" rel="stylesheet">
    <link href="../static/css/resstyles.css" rel="stylesheet">


</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <h1><a href="index.html">Quality Predictor</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="">Clustering</a></li>
          <li><a href="/regression" class="nav-link scrollto"><span>Regression</span></a>
          <li><a class="nav-link scrollto active" href="/classification">Classification</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
         
          </li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <section id="hero">
<div class="container">
 
<div class="login-box">
 
  
    <br><br>
    <form method="POST" action="{{url_for('predict')}}">
     
      
   
      <h2>Property Details</h2>
      <div class="columns">
      
        {% for name, value in converted_values.items() %}
        
            <p class="tab-button">{{ name }}: {{ value }}</p>
        
        {% endfor %}
  </div>
      
      <br>
  
      <button value="Previous" id="submitBtn" disabled>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          {{prediction_text}}
        </button>
    
  
      
      </div></div>
    </form>
  </div>

    
</div>
  </section>

  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-start text-center">
          <div class="copyright">
            &copy; Copyright <strong>Avilon</strong>. All Rights Reserved
          </div>
    
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>


</body>